body {
  background: url('/assets/pruebaFondo.png');
  background-size: cover;
  font-family: 'Arial', sans-serif;
  color: #F3C677;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(13, 12, 31, 0.85);
  z-index: -1;
}

#contenedor_registro {
  background: rgba(27, 15, 51, 0.95);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  max-width: 800px;
  width: 100%;
  text-align: center;
}

.logo-bienvenida img {
  width: 100px;
  margin-bottom: 10px;
}

h1 {
  color: #EFA235;
  font-size: 24px;
}

.campos_registro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  column-gap: 40px;
  row-gap: 20px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 2px solid #5B1F64;
  border-radius: 8px;
  background: #1B0F33;
  color: #F3C677;
  font-size: 14px;
  outline: none;
}

input:focus {
  border-color: #D93C22;
}

/* Términos y condiciones */
.terminos {
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-size: 16px;
  color: #F3C677;
}

.terminos input[type="checkbox"] {
  width: 20px;
  cursor: pointer;
  margin-right: 10px;
}

.terminos p {
  cursor: pointer;
}

/* Botón de registro */
.registrate {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.registrate a {
  background-color: #D93C22;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
  text-decoration: none;
  text-align: center;
  width: 100%;
}

.registrate a:hover {
  background-color: #EFA235;
}

/* Modal centrado */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 2;
}

/* Contenido del modal */
.contenido-modal {
  background-color: rgba(27, 15, 51, 0.95);
  padding: 30px;
  border: 2px solid #5B1F64;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  max-height: 80vh;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  color: #F3C677;
}

#mensajeModal {
  font-size: 18px;
  margin-bottom: 20px;
  color: #EFA235;
}

/* Botón de cerrar */
.aceptar {
  background-color: #D93C22;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.aceptar:hover {
  background-color: #EFA235;
}